body{
    margin: 0%;
}

.wifi{
    margin-left: 5px;
}

.head-container{
    display: flex;
    justify-content: space-between;
}

.bolt{
    margin-left: 5px;
    padding-right: 5px;
}

.head_container {
    display: flex;
    justify-content: space-between;
    padding-right: 45px;
    padding-left:45px ;
}
#Search {
    margin-top : 35px;
    width: 40px;
    margin-right: 20px;
}

.icon_container {   
    display: flex;
}

#comment_dots {
    margin-top: 35px;
    margin-right: 20px;
}


#music {
     margin-top: 35px;
     margin-right: 20px;
     margin-left: 20px;
 }

#setting {
    margin-top: 35px;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

.profile {
    padding-left: 45px;
    display: flex;
}

.name {
    padding-left: 25px;
    font-size: 20px;
    font-weight: 600;
    
}

#kokoa_account {
    display: flex;
}

.menu {
    display: flex;
    justify-content: space-around;
    background: #f3f3f3;
    align-items: end;
    border: 2px solid silver;
    margin: 0px auto;
    margin-block-end: 20px;
    padding: 10px;
    flex-wrap: wrap-reverse;
}

#kokoa_Account {
    color: gray;
}