body{
    margin: 0%;
}

.wifi{
    margin-left: 5px;
}
.head-container{
    display: flex;
    justify-content: space-between;
}

.bolt{
    margin-right: 5px;
}

.Explanation{
    text-align: center;
}

#login-form{
    display: flex;
  flex-direction: column;
  margin: 60px 30px;
}

#login-form a{
    color: black;
    text-align: center;
    margin-top: 25px;
    text-decoration: none;
}

#login-input-email{
    width: 490px;
    height: 35px;
    margin: 0px auto;
    margin-block-end: 10px;
}

#login-input-password{
    width: 490px;
    height: 35px;
    margin: 0px auto;
    margin-block-end: 10px;
}

#login-input-Login{
    width: 500px;
    height: 40px;
    background: gold;
    margin: 0px auto;
    margin-block-end: 20px;
}

#login-input-Signup{
    width: 500px;
    height: 40px;
    background: gold;
    margin: 0px auto;
}