body{
    margin: 0%;
}

.wifi{
    margin-left: 5px;
}

.head-container{
    display: flex;
    justify-content: space-between;
}

.bolt{
    margin-left: 5px;
    padding-right: 5px;
}

.head_container {
    display: flex;
    justify-content: space-between;
    padding-right: 45px;
    padding-left:45px ;
}
#Search {
    margin-top : 35px;
    width: 40px;
}

.icon_conatainr
 {
    display: flex;
    
    
 }

#music {
     margin-top: 35px;
     margin-right: 20px;
 }

#setting {
    margin-top: 35px;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}

.name_display {
    background:#f3f3f3;
    display: flex;
    padding: 15px;
    justify-content: center;
}

#display {
    font-weight: 500;

}

.profile {
    padding-left: 45px;
    display: flex;
}

.name {
    padding-left: 25px;
    font-size: 20px;
    font-weight: 600;
    
}

.division {
    border : none;
    border-bottom : 2px solid silver;
    margin-top: 20px;
}

.show_name {
    color: gray;
    padding-top: 10px;
    text-align: justify;
    text-align-last: justify;  
}
.profile2 {
    padding-left: 45px;
    padding-top: 20px;
}

.channel_name {
    padding-left: 25px;
    font-size: 20px;
}

#next {
    color: gray;
    text-align: end;
}

.menu {
    display: flex;
    justify-content: space-around;
    background: #f3f3f3;
    align-items: end;
    border: 2px solid silver;
    margin: 0px auto;
    margin-block-end: 20px;
    padding: 10px;
    flex-wrap: wrap-reverse;
}





