body{
    margin: 0%;
}

.wifi{
    margin-left: 5px;
}

.head-container{
    display: flex;
    justify-content: space-between;
}

.bolt{
    margin-left: 5px;
}

.head_container {
    display: flex;
    justify-content: space-between;
    padding-right: 45px;
    padding-left:45px ;
}
#Search {
    margin-top : 35px;
}
#aearch {
    margin-top : 35px;
}
.icon_conatainr
 {
    display: flex;
 }